.footer-package .bottom{
    min-width:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;    
    -webkit-font-smoothing: antialiased;
}

.social ul li a{
    text-decoration: none;
    align-content: center;
    padding: 20px;
}

.social{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 27px;
    margin-right: 10px;
    width: 80%;
    gap: 30px;
    list-style: none;
    opacity: 0.6;
}

.logoFooter{
    width: 30%;
    margin-left: 33%;
}

.text-body-3 {
    margin-left: 5%;
}

@media  (max-width:400px){
    .social{
        width: 100%;
        display: flex;
    }
    .left{
        margin-left: 30%;
    }

    .right{
        margin-left: 8%;
    }
}