<section>
  <h2>Retrouvez ici les profils que vous avez contactés</h2>

  <div class="profile" *ngFor="let freelance of contacted">
    <img src=" {{freelance.photo}}" class="profile_photo" alt="freelance picture">
    <div class="profile_details">
      <h5 class="profile_title">{{freelance.username}}</h5>
      <p class="profile_description">{{freelance.description}}
      </p>
    </div>
    <p class="contactDate">14th of June, 2021</p>
    <a href="#">See more</a>
    <div class="btns">
      <button class="btn delete" click="addContactedToDeleted(freelance)"><img src="../../../assets/delete.svg"
          class="btn-img" alt=""></button>
      <button class="btn archive" click="addContactedToArchived(freelance)"><img src="../../../assets/archive.svg"
          class="btn-img" alt=""> </button>
    </div>
  </div>
</section>