<section>
  <h2>Here, you can see the freelancers you've contacted</h2>
  <a [routerLink]="['/deleted']">See deleted conversations</a>
  <a href="#">See archived conversations</a>


  <div class="profile" *ngFor="let freelance of contacted">
    <img src=" {{freelance.backgroundImage}}" class="profile_photo" alt="freelance picture">
    <div class="profile_details">
      <h5 class="profile_title">{{freelance.username}}</h5>
      <p class="profile_description">{{freelance.softSkills}}
      </p>
      <a href="#">See more</a>
    </div>
    <p class="contactDate">14th of June, 2021</p>
    <div class="btns">
      <button class="btn delete" (click)="addContactedToDeleted(freelance)"><img src="../../../assets/delete.svg"
          class="btn-img" alt=""></button>
      <button class="btn archive" (click)="addContactedToArchived(freelance)"><img src="../../../assets/archive.svg"
          class="btn-img" alt=""> </button>
    </div>
  </div>
</section>