.profilPage{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.profils{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.profil{
    display: flex;
    height: 100%;
    background-image: url();
    left:0px;
    top:0px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-rate{
    margin: 0;
}
#button{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.next{
    position: fixed;
    left: 33%;
}
.match{
    position: fixed;
    right: 33%;
}
