<section id="find">


  <div class="tinder">
    <div class="profils" *ngFor="let user of usersToShow; let first = first">
      <div class="no-more" *ngIf="usersToShow.length == 0">Ouais gros</div>
      <div *ngIf="first" class="profil">
        <img [src]="user.backgroundImage" class="card-img-top" alt="..." />
        <div class="card" style="height: 20rem">
          <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <h6 class="card-job">{{ user.job }}</h6>
            <p class="card-rate">{{ user.rate }}</p>
            <ul>
              <p *ngFor="let softskill of user.softSkills" class="card-text">{{softskill}}</p>
            </ul>
          </div>
        </div>
        <div class="buttons">
          <button class="button" (click)="buttonNext()">Pass</button>
          <button class="button" (click)="buttonMatch()">Match</button>
        </div>
      </div>
    </div>
  </div>
</section>