@import "colors";

section {
  height: 95vh;
  background-image: url(../../assets/img/background.png);
}

.tinder {
  display: flex;
  flex-direction: column;
}

.profils {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.profil {
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card {
  border: none !important;
}

.card-rate {
  margin: 0;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  width: 20rem;
}

.card-body {
  height: 200px;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: $green;
  margin: 20px;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  /*   position: absolute;
  top: 850px;
  left: 640px; */
}
