Copy
<form class="form">
  <div class="form-group">
    <label for="exampleFormControlInput1">name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" maxlength="45">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">lastname</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="lastname" maxlength="45">
  </div>
  <div class="form-group">

    <div class="form-group">
      <label for="exampleFormControlInput1">picture</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="url" maxlength="45">
    </div>
  

    <label for="exampleFormControlSelect1">Note</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

 