@import "fonts";
@import "colors";

.selection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 15px;
  height: 95vh;
  background-image: url(../../assets/img/background.png);
}

h2 {
  font-weight: 300;
  color: darkgray;
  padding-bottom: 50px;
  text-align: center;
}

form {
  display: block;
  margin: auto;
  margin-left: 80px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.filters-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  select {
    margin-top: 2%;
    border-radius: 5px;
    height: 40px;
    border: 1px solid grey;
    width: 45%;
    background-color: #fff;
  }
}
.select-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.soft-skills-select {
  width: 100%;
}
.filters-button {
  margin-top: 5%;
  border: none;
  border-radius: 5px;
  background-color: $green;
  padding: 10px;
  width: 100%;
}

.multiselect-item-checkbox::before {
  color: red;
}

@media screen and(max-width: 556px) {
  .selection {
    width: 100%;
  }
}
