<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <a class="navbar-brand" [routerLink]="['']"
      ><img src="../../assets/img/logo.png" id="logo" alt="Finderr logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/select']">Finderr</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacted']">My contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">My services</a>
      </li>
    </ul>
  </div>
</nav>
