<img src="images/logo.png">
<div class="profiles" *ngFor="let freelance of freelances">
  <div class="profile">
    <div class="profile__image" style="background-image: url({{freelance.picture}});"></div>
    <div class="profile__infos">
      <div class="profile__name">{{freelance.firstname}} {{freelance.lastname}}</div>
      <!--          BEG TO DO: mettre en place ces classes -->
      <div class="profile_profession">{{freelance.profession}}</div>
      <div class="profile_softskills">{{freelance.softskills}}</div>
      <!--          END TO DO-->
      <div class="profile__description">{{freelance.description}}</div>
    </div>
  </div>
</div>
<div class="bottombar">
  <div class="bottombar__button">
    <img src="/src/assets/icon-next.svg">
  </div>
  <div class="bottombar__button">
    <img src="/src/assets/icon-heart.svg">
  </div>
</div>